[submodule "vimplugins/bundle/supertab"]
	path = vimplugins/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimplugins/bundle/nerdtree"]
	path = vimplugins/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimplugins/bundle/nerdcommenter"]
	path = vimplugins/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimplugins/bundle/matchit"]
	path = vimplugins/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
