[submodule "vim/plugins/bundle/supertab"]
	path = vim/plugins/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/plugins/bundle/nerdcommenter"]
	path = vim/plugins/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/plugins/bundle/nerdtree"]
	path = vim/plugins/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/bundle/sqlutil"]
	path = vim/plugins/bundle/sqlutil
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule "vim/plugins/bundle/matchit"]
	path = vim/plugins/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
